<div id="list-products" class="col-sm-12">
    <h3>Sản Phẩm</h3>
</div>
<div class="block-product">
    <div class="block-category">
        <h3>Category</h3>
        <div class="list-category">
            <ul>
            <li><a href="#">Mango</a></li>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Grape</a></li>
            <li><a href="#">Plum</a></li>
            <li><a href="#">Durian</a></li>
            <li><a href="#">Gusduss</a></li>
            </ul>
        </div>
    </div>

    <div class="main-product">  
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="box">
                    <div class="content">
                        <img src="https://storage.f5fruitshop.vn/product/1600832552121autum-uc-3.jpg" alt="Avatar" style="width:100%">
                        <h3>Nho Ngón Tay Mỹ</h3>
                        <div class="d-flex justify-content-around align-items-center">
                        <div class="price">249.000<sup>đ</sup></div>
                        <div class="old-price">303.450<sup>đ</sup></div>
                        </div>
                        <a href="#">Buy Now</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                <div class="box">
                    <div class="content">
                    <img src="https://storage.f5fruitshop.vn/product/1583459854130nhodennp.jpg" alt="Avatar" style="width:100%">
                    <h3>Nho Ngón Tay Mỹ</h3>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="price">249.000<sup>đ</sup></div>
                        <div class="old-price">303.450<sup>đ</sup></div>
                    </div>
                    <a href="#">Buy Now</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="box">
                    <div class="content">
                        <img src="https://storage.f5fruitshop.vn/product/1599014261158le-np-0k.jpg" alt="Avatar" style="width:100%">
                        <h3>Nho Ngón Tay Mỹ</h3>
                        <div class="d-flex justify-content-around align-items-center">
                        <div class="price">249.000<sup>đ</sup></div>
                        <div class="old-price">303.450<sup>đ</sup></div>
                        </div>
                        <a href="#">Buy Now</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="box">
                        <div class="content">
                        <img src="https://storage.f5fruitshop.vn/product/1577349312584envymy.jpg" alt="Avatar" style="width:100%">
                        <h3>Nho Ngón Tay Mỹ</h3>
                        <div class="d-flex justify-content-around align-items-center">
                            <div class="price">249.000<sup>đ</sup></div>
                            <div class="old-price">303.450<sup>đ</sup></div>
                        </div>
                        <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="box">
                    <div class="content">
                        <img src="https://storage.f5fruitshop.vn/product/1600832552121autum-uc-3.jpg" alt="Avatar" style="width:100%">
                        <h3>Nho Ngón Tay Mỹ</h3>
                        <div class="d-flex justify-content-around align-items-center">
                        <div class="price">249.000<sup>đ</sup></div>
                        <div class="old-price">303.450<sup>đ</sup></div>
                        </div>
                        <a href="#">Buy Now</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                <div class="box">
                    <div class="content">
                    <img src="https://storage.f5fruitshop.vn/product/1583459854130nhodennp.jpg" alt="Avatar" style="width:100%">
                    <h3>Nho Ngón Tay Mỹ</h3>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="price">249.000<sup>đ</sup></div>
                        <div class="old-price">303.450<sup>đ</sup></div>
                    </div>
                    <a href="#">Buy Now</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="box">
                    <div class="content">
                        <img src="https://storage.f5fruitshop.vn/product/1599014261158le-np-0k.jpg" alt="Avatar" style="width:100%">
                        <h3>Nho Ngón Tay Mỹ</h3>
                        <div class="d-flex justify-content-around align-items-center">
                        <div class="price">249.000<sup>đ</sup></div>
                        <div class="old-price">303.450<sup>đ</sup></div>
                        </div>
                        <a href="#">Buy Now</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="box">
                        <div class="content">
                        <img src="https://storage.f5fruitshop.vn/product/1577349312584envymy.jpg" alt="Avatar" style="width:100%">
                        <h3>Nho Ngón Tay Mỹ</h3>
                        <div class="d-flex justify-content-around align-items-center">
                            <div class="price">249.000<sup>đ</sup></div>
                            <div class="old-price">303.450<sup>đ</sup></div>
                        </div>
                        <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
