<div id="list-products" class="col-sm-12">
    <h3>Sản Phẩm</h3>
</div>
<div class="block-product">
    <div class="block-category">
        <h3>Category</h3>
        <div class="list-category">
            <ul>
            <% @categories.each do |category| %>
                <li><%= link_to category.name, category_path(category) %></li>
            <% end %>
            </ul>
        </div>
    </div>

    <div class="main-product">  
        <div class="row">
            <% @products.each do |product| %>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="box">
                        <div class="content">
                            <img src="https://storage.f5fruitshop.vn/product/1600832552121autum-uc-3.jpg" alt="Avatar" style="width:100%">
                            <h3><%= product.name %></h3>    
                            <div class="d-flex justify-content-around align-items-center">
                            <div class="price"><%= product.price %><sup>đ</sup></div>   
                            </div>
                            <a href="#">Buy Now</a>
                        </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>