<div class="header_top d-flex">
  <div class="header_top_left">
    <li class="nav-item active">
      <a class="nav-link" href="tel:0901966516">Hotline: 0901966516<span class="sr-only">(current)</span></a>
    </li>
  </div>
  <div class="header_top_right">
    <ul class="d-flex">
      <div class="dropdown d-flex align-items-center">
        <a class="dropdown-toggle nav-link-line" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tiếng Việt 
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item nav-link-line" href="#">English</a>
        </div>
      </div>
      <li><a class="nav-link" href="#">Đăng kí</a></li>
      <li class="nav-link-line">|</li>
      <li><a class="nav-link" href="#">Đăng nhập </a></li>
    </ul>
  </div>
</div>
