<div class="header_top d-flex">
  <div class="header_top_left">
    <li class="nav-item active">
      <a class="nav-link font_family" href="tel:0901966516">Hotline: 0901966516<span class="sr-only">(current)</span></a>
    </li>
  </div>
  <div class="header_top_right">
    <ul class="d-flex">
      <div class="dropdown d-flex align-items-center">
        <a class="dropdown-toggle nav-link font_family" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tiếng Việt 
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item nav-link-line font_family" href="#">English</a>
          <a class="dropdown-item nav-link-line font_family" href="#">Japan</a>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0 font_family">
          <a href="#">Login</a>&nbsp;  <span>/</span> &nbsp; <a href="#">LogOut</a>
      </form>
    </ul>
  </div>
</div>
